const config = {
    //global
    region: '{replace with your region}',
    //auth
    userPoolId: '{replace with your user pool id}',
    webClientId: '{replace with your user pool app client id}',
    identityPoolId: '{replace with your identity pool id}',
    //storage
    bucket: '{replace with your bucket name}',
    directoryPrefix: '{replace with your directory prefix}',
    //api
    apiBaseUrl: '{replace with api url}'
};

export {config};
